<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlightReservationSystem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F204D1D61BD60460000C164B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F204D1F21BD60460000C164B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F204D1FD1BD60460000C164B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
